.App {
  margin: 1.25rem;
}

.searchDiv {
  font-weight: 600;
}

.searchDiv form {
  display: flex;
  flex-direction: column;
}
.imageList {
  columns: 250px 5;
  column-gap: 10px;
}
.imageListImg {
  width: 100%;
  margin-bottom: 10px;
}
